::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b1b1b1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(206, 204, 204); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(116, 116, 116, 0.712); 
  }